
body{
    text-align: center;
}
.couns-box{
    margin: 12vh 0 0 0;
}
    

.couns-img{
    background-image: url('../asset/couns.jpeg');
    height: 20vh;
}

.txt{
    border: solid 2px white;
    background: linear-gradient(to bottom, #0074d9, #7fdbff);
    margin: 0 0 5vh 0;
    height: calc(100vh - 200px);
}
