.Feedback1 {
    height: 50vh;
    width: 25vw;
    background-color: rgb(221, 142, 237);
    border-radius: 2ch;
    position: fixed;
    bottom: 5vh;
    right: 2vh;
    display: none;
    text-align: center;
    z-index: 20;
}

.Feedback2{
    height: 8vh;
    width: 8vh;
    border-radius: 4ch;
    /* background-color: red; */
    position: absolute;
     bottom: 1vh;
    right: 3vh;
    display: flex;
    justify-content: center;align-items: center;
    /* text-align: center; */
     transition: 1s;
     z-index: 20;
}

.removed{
  display: none;
}

.Feedback2:hover{
    cursor: pointer;
    background-color: rgba(209, 202, 202, 0.717);
    transition: 1s;
    rotate: 360deg;
}

.Feedback1>textarea{

}