@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background-color: black;
    color: white;
    overflow-x: hidden;
}
section{
    height: 100vh;
    width: 100vw;
}
.mainSection{
    background-color: rgb(35, 45, 135);
    display: flex;
    padding-top: 100px;
}
.hortext{
    margin-left: 40px;
    width: 40px;
    text-align: center;
}
.hortext p{
    rotate: -90deg;
    font-size: 25px;
}
.hortext p:nth-child(1){
    width: 100px;
    margin-top: 100px;
}
.hortext p:nth-child(2){
    width: 100px;
    margin-top: 50px;
}
.hortext p:nth-child(3){
    width: 100px;
    margin-top: 50px;}
.hortext p:nth-child(4){
    width: 100px;
    margin-top: 70px;}
.hortext p:nth-child(5){
    width: 100px;
    margin-top: 70px;}
.mainvid{
    height: 80vh;
    width: 80vw;
    position: absolute;
    right: 50px;
    overflow: hidden;
    box-shadow: 5px 5px 5px 0px white;
    border-radius: 5px;
}
.mainvid video{
    position: absolute;
    top: -100px;
    left: -100px;
    width: 120%;
    border: solid 2px rgb(76, 34, 138);
    outline: transparent;
    overflow: hidden;
    background-color: transparent;
}
.mainvid .maintext{
    background-image: linear-gradient(rgb(183, 76, 237),rgb(116, 253, 255));
    background-clip: text;
    -webkit-background-clip: text;
    color: rgb(0 0 0 / 0%);
    position: absolute;
    margin-top: 50px;
    margin-left: 100px;
    
}.mainvid .maintext h1:nth-child(1){
    font-size: 3rem;
}
.mainvid .maintext h1:nth-child(2){
    font-size: 5rem;
}
.mainvid .maintext h1:nth-child(3){
    font-size: 5rem;
}
.mainvid .vidtext{
    position: absolute;
    bottom: 10px;
    right: 0;
    display: flex;
    text-align: center;
    
}
.mainvid .vidtext div{
    width: 200px;
    padding: 10px 10px 10px 10px;
    font-family: "poppins", sans-serif;
    border-left: solid 2px white;
}
.mainvid .vidtext div p{
    margin-top: 20px;
}
