body{
    background-color: white;
    color: black;
}
.SportsMain{

    height: 88vh;
    width: 100vw;
    margin: 12vh 0 0 0;
   overflow-x: hidden;
    box-sizing: border-box;
}


.SportsMain > #imageTrack > .image{
   width: 40vmin;
   height: 56vmin;
   object-fit: cover;
   object-position: 50% 50%;
   box-shadow: 0px 0px 10px 5px;
}

#imageTrack{
    display: flex;
    gap: 4vmin;
    position: relative;
    left: 5%;
    top: 14%;
    transform: translate(0%,-15%);
}

#imageTrack:hover{
    cursor: pointer;

}

.SportsMain > #imageTrack > .image:hover{
    scale: 1.1;
    transition: 1s;
    border-radius: 2ch;
}

.SportSub img{
       width: 70vmin;
   height: 50vmin;
}

.SportSub {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 10vh;
    margin-left: 5vw;
    
 
}

@media screen and (max-width: 768px) {
    .SportSub {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}